html,body{
    background-color: #e7e7e7;
}
.header{
   width: 1920px;
   height: 820px;
}
.logo1{
    width: 1920px;
    height: 257px;
}
.logo2{
    background-image: url("./image/Screenshot\ 2024-03-13\ at\ 11.09\ 1.svg");
    height: 563px;
    width: full;
    background-size: cover;
    background-position: center;
}
